body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.input,
.btn {
  background: none;
  border: none;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.btn {
  cursor: pointer;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  width: 100%;
  padding: 0 20px;
  background-color: #222222;
  color: white;
}

.navList {
  list-style: none;
  display: flex;
}

.navListHeader {
  justify-content: flex-end;
}

.navItemHeader {
  margin-left: 15px;
}

.navLink {
  display: block;
  text-decoration: none;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.navLinkHeader {
  padding: 15px 20px;
  color: white;
}

.navLinkHeader:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navLinkHeaderActive {
  background-color: white;
  color: #222222;
}

.main,
.aside {
  width: 100%;
  flex-grow: 0;
}

.aside {
  margin-bottom: 10px;
}

.main {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .aside {
    width: 25%;
  }

  .main {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .aside {
    width: 20%;
  }

  .main {
    width: 80%;
  }
}

.navListAside {
  flex-direction: column;
}

.section {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 100%;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 678px) {
  .form {
    width: 70%;
  }
}

.label {
  width: 100%;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 5px 10px;
  font: inherit;
  border: 1px solid rgba(2, 2, 2, 0.6);
  color: #222222;
}

.input::placeholder {
  color: rgba(2, 2, 2, 0.7);
}

.input:hover {
  border-color: rgba(2, 2, 2, 0.8);
}

.input:focus {
  border-color: #222222;
}

.btnSubmit {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
}

.btnSubmit:hover,
.btnSubmit:focus {
  color: #222222;
  background-color: white;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  table-layout: auto;
}

.table,
.tr,
.th,
.td {
  border: none;
  text-align: left;
}

.th,
.td {
  padding: 5px 10px;
  width: max-content;
  text-align: left;
  vertical-align: middle;
}

.btnChangePass {
  margin-right: 20px;
}

.asside {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.navLinkAside {
  padding: 15px;
  color: #222222;
  border-bottom: 1px solid #222222;
}

.navLinkAsideActive {
  background-color: #333333;
  color: white;
}

.lodsSection {
  margin-top: 40px;
  border-bottom: 1px solid lightgray;
}

.cell {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cellTitle,
.cellText {
  width: 100%;
  padding: 5px 0;
}

.cellTitle {
  font-size: 16px;
  background-color: lightgray;
}

@media screen and (min-width: 489px) {
  .cellTitle,
  .cellText {
    padding: 5px;
  }

  .cellText {
    width: 70%;
  }

  .cellTitle {
    width: 30%;
  }

  /* @media screen and (min-width: 1024px) {
    .cellText, .cellTitle {
      width: 100%;
    }
  } */

  .cellLinks {
    justify-content: center;
  }

  .cellLinks .btnEdit,
  .cellLinks .btnDelete {
    margin: 0 25px;
  }
}

.btnEdit,
.btnDelete {
  display: block;
  text-decoration: none;
}

.btnEdit .eye,
.btnEdit .edit {
  fill: rgba(2, 2, 2, 0.6);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.btnEdit:hover .eye,
.btnEdit:hover .edit {
  fill: rgba(2, 2, 2, 1);
}

.btnDelete {
  width: 30px;
  height: 30px;
  position: relative;
  opacity: 0.6;
  cursor: pointer;
}

.btnEditDisabled .edit,
.btnEditDisabled:hover .edit,
.btnDeleteDisabled {
  fill: rgba(2, 2, 2, 0.6);
  opacity: 0.5;
  cursor: default;
}

.btnDelete::after,
.btnDelete::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  content: '';
  height: 3px;
  width: 25px;
  background-color: #222222;
}

.btnDelete::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.btnDelete::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.btnDeleteDisabled::after,
.btnDeleteDisabled::before {
  opacity: 0.5;
}

.btnDelete:hover,
.btnDelete:focus {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  position: fixed;
  width: 85%;
  min-height: 200px;
  height: fit-content;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  opacity: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 678px) {
  .modal {
    width: 50%;
  }
}

.titleModal {
  text-align: center;
}

.modalError .titleModal {
  color: tomato;
}

.modalVisible {
  opacity: 1;
}

.sectionLoader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.loader {
  margin: auto;
  display: block;
}
